@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 style="font-family:'Century Gothic'" class="display-4">Welcome to Home</h1>*@
    <h1 style="font-family:'Century Gothic'" class="display-4">In The Light Of Information...</h1>

</div>
